* {
    margin: 0;
}

@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "RacingSansOne";
    src: url(fonts/RacingSansOne-Regular.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(fonts/Comfortaa-VariableFont_wght.ttf);
}


/*////////////////////////////////////////////
///////////////  FORM PART  //////////////////
////////////////////////////////////////////*/

.search {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 175px;
    width: 100%;
    background-color: rgb(17, 59, 91);
    border-bottom: solid rgb(255, 204, 29) 5px;
}

.search button {
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    color: #113B5B;
    font-family: "RacingSansOne";
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.search button:hover {
    background-color: #FFCC1D;
    transform: scale(1.2);
}

.dropdown {
    border: none;
    font-family: "RacingSansOne";
    color: rgb(17, 59, 91);
    background-color: rgb(244, 241, 240);
    height: 50px;
    width: 250px;
    border-radius: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.searchbar {
    display: flex;
    height: 50px;
}

.searchbar input {
    border: none;
    background-color: rgb(244, 241, 240);
    border-radius: 20px;
    width: 500px;
    padding-left: 10px;
    outline-color: #FFCC1D;
}

input::placeholder {
    color: rgb(17, 59, 91);
    font-family: "RacingSansOne";
}

.skillfilter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: "RacingSansOne";
    height: 80%;
}

.skillfilter div {
    margin-bottom: 5px;
}

.skillfilter label {
    padding-left: 10px;
}

input[type=checkbox] {
    transform: scale(1.2);
    cursor: pointer;
}

.skill_and_btn {
    display: flex;
    align-items: center;
}

.form_btn {
    display: flex;
    justify-content: flex-end;
    width: 300px;
}


/*////////////////////////////////////////////
/////////////////  CARDS  ////////////////////
////////////////////////////////////////////*/

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 65px;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 65px auto;
}

.template-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    border-radius: 10px;
    height: 350px;
    width: 270px;
    background: linear-gradient(-5deg, rgb(255, 204, 29) 20%, transparent 20.5%, rgb(244, 241, 240) 20%, rgb(244, 241, 240) 75%, transparent 75%, rgb(17, 59, 91) 75.5%);
}

.template-card img {
    border-radius: 65px;
    border: solid 3px rgb(244, 241, 240);
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-top: 20px;
}

.template-card h2 {
    text-align: center;
    background-color: rgb(244, 241, 240);
    color: rgb(17, 59, 91);
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 800;
    margin-top: 5px;
}

.template-card p {
    background-color: rgb(244, 241, 240);
    font-family: "RacingSansOne";
    color: rgb(17, 59, 91);
    font-size: 13px;
}

.card-icons {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 18px;
    background-color: rgb(255, 204, 29);
}

.card-icons a {
    transition: transform 0.2s ease-in-out;
}

.card-icons a:hover {
    transform: scale(1.4);
}

.fab,
.fas {
    color: rgb(17, 59, 91);
}


/*//////////////////////////////////////
//////////////// HEADER ////////////////
//////////////////////////////////////*/

.header_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 250px;
}

nav {
    background-color: rgba(17, 59, 91, 0.75);
    z-index: 2;
    height: 96px;
    position: fixed;
    display: flex;
    align-items: center;
    opacity: 1;
    backdrop-filter: saturate(180%) blur(20px);
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 2px rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: #113B5B;
}

.bloc_title a:visited {
    text-decoration: none;
    color: #113B5B;
}

.header_li {
    font-family: "Poppins";
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 15px;
}

.header_li:hover {
    color: #FFCC1D;
    text-decoration: underline 3px;
    text-underline-offset: 1rem;
}

.logo {
    display: flex;
    margin-left: 200px;
    cursor: pointer;
    height: 35px;
    width: 55px;
}

.far {
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 20px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    z-index: 1;
    --scale: 1;
    transform: scale(var(--scale));
    background: linear-gradient(135deg, rgba(17, 59, 91, 0.75) 0%, rgba(17, 59, 91, 0.5)), url("img/DSC01188-min-scaled.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    width: 60%;
}

.trombi {
    font-family: "Poppins";
    font-size: 40px;
    color: white;
    font-weight: 800;
}

.btnforma:hover {
    background-color: #ffffff;
}

.pev {
    font-family: "Poppins";
    font-size: 36px;
    color: white;
    font-weight: 800;
}

.led {
    font-family: "Poppins";
    font-size: 76px;
    color: white;
    font-weight: 800;
}

.num {
    font-family: "Poppins";
    font-size: 76px;
    color: #FFCC1D;
    font-weight: 800;
    margin-bottom: -20px;
}

.byc {
    font-family: "Comfortaa";
    font-size: 36px;
    color: white;
    font-weight: 800;
}

.bycamp {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 250px;
}


/*///////////////////////////////////
///////////// FOOTER ////////////////
///////////////////////////////////*/

.footer {
    background-color: #113B5B;
    padding-top: 75px;
}

.ledf {
    font-family: "Poppins";
    font-size: 43px;
    font-weight: 800;
    color: #ffffff;
}

.title_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logosocial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.titlef {
    font-family: "Poppins";
    font-size: 43px;
    font-weight: 800;
    color: #FFCC1D;
    margin-bottom: -15px;
}

.subf {
    font-family: "Poppins";
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}

.contactus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFCC1D;
    width: 562px;
    height: 66px;
    margin-bottom: 50px;
}

.contp {
    font-family: "Poppins";
    font-size: 17px;
    color: #113B5B;
    font-weight: 300;
}

.cont {
    font-family: "Poppins";
    font-size: 26px;
    margin-top: -12px;
    color: #113B5B;
    font-weight: 800;
}

.contbtn {
    font-family: "Poppins";
    font-size: 16px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    border: none;
    width: 159px;
    height: 46px;
    background-color: #113B5B;
}

.contbtn:hover {
    background-color: #ffffff;
    color: #113B5B;
}

.footer {
    display: flex;
    width: 100%;
    height: 850px;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 5px #FFCC1D;
}

.footer_column {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.columntitle {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
}

.columnp {
    font-family: "Poppins";
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 10px;
}

.columnp:hover {
    transform: scale(1.2);
}

.column1 {
    width: 367px;
}

.corptitle {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    margin: 10px;
    color: #ffffff;
}

.ptitelignep {
    font-family: "Poppins";
    font-size: 9px;
    font-weight: 400;
    margin-top: 50px;
    color: #ffffff;
}

.ptitelignesp {
    font-family: "Poppins";
    font-size: 9px;
    font-weight: 800;
    color: #FFCC1D;
}


/*////////////////////////////////////////////
///////////////  RESPONSSIVE  ////////////////
////////////////////////////////////////////*/

@media (max-width: 1024px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 65px;
    }
    .skillfilter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        font-family: "RacingSansOne";
        height: 80%;
        width: 100%;
    }
    .form_btn {
        justify-content: flex-start;
    }
    .searchbar input {
        width: 265px;
    }
    .dropdown {
        width: 215px;
    }
}

@media (max-width: 768px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 65px;
    }
    .form_btn {
        justify-content: flex-start;
        width: 200px;
    }
    .skill_and_btn {
        display: flex;
        align-items: center;
    }
    .searchbar input {
        width: 185px;
    }
    .dropdown {
        width: 205px;
    }
}

@media (max-width: 425px) {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 65px;
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 275px;
        width: 100%;
        background-color: rgb(17, 59, 91);
        border-bottom: solid rgb(255, 204, 29) 5px;
        flex-direction: column;
    }
    .skill_and_btn {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form_btn {
        justify-content: center;
    }
}